---
layout: default
title: Sessions
name: Sessions
---
{% block body %}
    <section class="l-section">
        <div class="container">
            <h2 class="h-section">Sessions</h2>
            {% for talk in site.opencfp.talks %}
                <div class="speaker" id="{{ talk.slug }}">
                    <img src="{{ talk.speaker.photo_path }}" class="speaker__photo">
                    <div class="speaker__body">
                        <h3 class="h-speaker">{{ talk.title }}</h3>
                        <p>{{ talk.abstract }}</p>
                        <h4 class="h-speaker"><a href="/speakers#{{ talk.speaker.first_name|lower }}-{{ talk.speaker.last_name|lower }}">{{ talk.speaker.first_name }} {{ talk.speaker.last_name }}</a></h4>
                    </div>
                    <div class="speaker__footer"></div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block sponsors %}
{% endblock %}