---
layout: default
title: Speakers
name: Speakers
---
{% block body %}
    <section class="l-section">
        <div class="container">
            <h2 class="h-section">Speakers</h2>
            <p>Our speakers will be announced soon. For now, why not <a href="http://cfp.lonestarphp.com/">submit to our call for papers</a>?</p>
        </div>
        <ul>
        {% for speaker in site.opencfp.speakers %}
            <li>{{ speaker.name }} - {{ speaker.handle }}</li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}