---
layout: default
title: Sponsors
name: Sponsors
---
{% block body %}
    <section class="l-section">
        <div class="container">
            <h2 class="h-section">Sponsors</h2>
            <p>In 2015, Lone Star PHP looks to continue its great success. If you would like to be a part of making 2015 the best event yet, review the <a href="/docs/LoneStarPHP-Prospectus-2014.pdf" target="_blank">sponsor prospectus</a>.</p>
        </div>
    </section>
{% endblock %}
{% block sponsors %}
{% endblock %}